
   
main{
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-color: rgb(166, 215, 215);

   
}

form{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 500px;
}

.form-heading{ 
    margin-top: 50px;
    margin-bottom: 20px;
}

.label-in{
    font-size: 20px;
    font-weight: 700;
}

.input-in{
    padding: 5px;
    border-radius: 5px;
    text-align: center;
    width: 100px;
    font-size: 18px;
}

.names-section{
    width: 60%;
    height: auto;
    padding: 10px;
}

label{
    font-size: 18px;
    font-weight: 700;
    margin-right: 8px;
}

input{
    font-size: 18px;
    width: 100%;
    margin-bottom: 10px;
    padding: 8px;
    border-radius: 8px;
    text-align: center;
}

button{
    font-size: 20px;
    font-weight: bold;
    padding: 10px;
    border-radius: 10px;
}