/* General Reset */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: whitesmoke;
  font-family: Arial, sans-serif;
  line-height: 1.6;
}

header {
  background: whitesmoke;
  color: #000000;
  padding: 0.5rem;
  border-radius: 0px 0px 60px 0;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 2);
}

header nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

header ul {
  display: flex;
  list-style: none;
}

header li {
  margin: 0 1rem;
}

header a {
  color: #000000;
  text-decoration: none;
  font-weight: 700;
}

.restaurant_name {
  height: 60px;
}

/* BODY */
.main-body {
  height: 1rem;
  display: flex;
  flex-direction: row;
}

.slideshow-container {
  width: 50%;
  border-radius: 50%;
  position: relative;
  margin-top: 50px;
  margin-left: 50px;

}


.foodImg {
  border-radius: 90%;
  box-shadow: 0px 0px 50px rgba(0, 0, 0, 10);
  width: 60%;
  margin-left: 50px;
}


/* On smaller screens, decrease text size */
@media only screen and (max-width: 300px) {
  .text {
    font-size: 11px;
  }
}

/* CSS FOR BODY CONTENT */
.body-content {
  width: 50%;
  height: 1rem;
  padding-top: 100px;
}

.text1{
  margin-left: 100px;
  font-size: 28px;
}

.text2{
  margin-left: 100px;
  font-size: 40px;
}

.button-cont{
  margin-left: 100px;
  width: 50%;
  display: flex;
  justify-content: space-between;
}

.btn1{
  height: 40px;
  width:130px;
  text-align: center;
  text-decoration: none;
  padding-top: 5px;
  background-color: rgb(171, 133, 83);
  color: white;
  border: none;
  font-weight: bold;
  border-radius: 20px;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 2);
}

.btn2{
  height: 40px;
  width:130px;
  text-align: center;
  text-decoration: none;
  padding-top: 5px;
  background-color: rgb(171, 133, 83);
  color: white;
  border: none;
  font-weight: bold;
  border-radius: 20px;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 2);
}
  

.btn1:hover{
  background-color: rgb(218, 188, 149);
  color: black;
  border: rgb(171, 133, 83);
}
.btn2:hover{
  background-color: rgb(218, 188, 149);
  color: black;
  border: rgb(171, 133, 83);
}